.DataList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Head{
    display: flex;
    justify-content: space-between;
}

.Table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 15px ;
    padding-right: 15px;
    border-radius: 20px;
}